/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 18px;
  /* outline: 2px solid red; */
  /* -webkit-font-smoothing: antialiased; */
}

/* min body height */
body {
  min-height: 100svh;
}

/* container queries context */

body > :is(header, footer),
main,
section,
article {
  container-type: inline-size;
}

/* improve accessibility of links */
a:focus-visible {
  outline-offset: 2px;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* improve image scaling, by Harry Roberts */
img {
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li,
figcaption {
  max-width: 65ch;
}

/* Reduce motion for users who prefer it */
@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
